<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PuppetMaster.Client.UI.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <PuppetMaster.Client.UI.Properties.Settings>
            <setting name="BackendTokenResponse" serializeAs="String">
                <value />
            </setting>
            <setting name="TokenExpiresAt" serializeAs="String">
                <value />
            </setting>
            <setting name="StandaloneTool" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="BackendUrl" serializeAs="String">
                <value>https://puppetmaster.azurewebsites.net/</value>
            </setting>
            <setting name="RepositoryUrl" serializeAs="String">
                <value>https://github.com/frederikstonge/PuppetMaster-Client</value>
            </setting>
        </PuppetMaster.Client.UI.Properties.Settings>
    </userSettings>
</configuration>